<h3>Post Form</h3>

<%= form_tag posts_path do %>
<!-- <form action="<%= posts_path %>" method="POST"> -->
  <label>Post title:</label><br>
  <%= text_field_tag :'post[title]' %><br>
  <!-- <input type="text" id="post_title" name="post[title]"><br> -->

  <label>Post description:</label><br>
  <%= text_area_tag :'post[description]' %><br>
  <!-- <textarea id="post_description" name="post[description]"></textarea><br> -->

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <!-- <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> -->
  <%= submit_tag "Submit Post" %>
  <!-- <input type="submit" value="Submit Post"> -->

<% end %>

<%= params.inspect %>
